body {
background-color: #D6EBD1;		
}

h1 {
color: #4B5151;	
font-family: mistral; 
font-size: 45pt;	
}

div {
color: #4B5151;
font-family: Lato, Helvetica, Roboto, sans-serif;
font-size: 16pt;
border-style: solid;
border-width: 0.1em;
border-color:  black;
margin-right: 45em;
padding: 1em;
background-color:#D1EBE3; 	
}

.feld1 {
margin-left: 3.95em;
border-style: solid;	
border-color:  #4B5151;	
background-color: #B4BFBA;
}

.feld2 {
margin-left: 1.6em;	
border-style: solid;
border-color:  #4B5151;
background-color: #B4BFBA;		
}

.feld3 {
margin-left: 3.3em;	
border-style: solid;
border-color:  #4B5151;	
background-color: #B4BFBA;	
}

.feld4 {
margin-left: 5.3em;	
border-style: solid;
border-color:  #4B5151;	
background-color: #B4BFBA;
}

.feld5 {
margin-left: 5.8em;	
border-style: solid;
border-color:  #4B5151;	
background-color: #B4BFBA;
	
}

.bild {
width: 1em;
height: 1em;		
}

.button {
color: #4B5151;
font-family: Lato, Helvetica, Roboto, sans-serif;
font-size: 16pt;
border-style: solid;
border-color:  #4B5151;	
background-color: #B4BFBA;	
}

#knopf:hover {
	background-color: #A1D3F0;
	box-shadow: 1px 2px 2px #005F7F;